@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
}

.content {
  display: none;
}
.item:hover .content {
  display: block;
}

.map{
  /* filter: grayscale(100%) invert(92%) contrast(83%); */
  filter: grayscale(100%);
}
