@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
}

.content {
  display: none;
}
.item:hover .content {
  display: block;
}


/* Form */
.input-field {
  position: relative;
  width: 300px;
  height: 60px;
  line-height: 60px;
}
@media (max-width: 500px) {
  .input-field {
    width: 250px;
  }
}
label {
  position: absolute;
  top: 0;
  left: 20px;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}
input {
  width: 100%;
  border: 0;
  outline: 0;
  padding-left: 20px;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  box-shadow: none;
  color: #111;
}
input:invalid {
  outline: 0;
  /* color: #ff2300; */
  /* border-color: #ff2300; */
}
input:focus,
input:valid {
  /* border-color: #00dd22; */
}
input:focus~label,
input:valid~label {
  font-size: 14px;
  top: -18px;
  /* color: #00dd22; */
}

